@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    padding-left: 10vw;
    font-family: "Roboto", sans-serif;
}

.second {
    padding-left: 10vw;
    font-family: "Roboto", sans-serif;
}

.header {
    width: 10vw;
    height: 10vw;
    margin-left: 10vw;
    margin-top: 3vw;
}

.globe {
    width: 1.7vw;
    height: 1.7vw;
}

.time {
    width: 1.7vw;
    height: 2vw;
}

.date {
    width: 1.7vw;
    height: 1.7vw;
}

.nav-first {
    width: 40vw;
    display: flex;
    margin-top: 1.56vw;
    font-size: 1.6vw;
    align-items: center;
    gap: 1.5vw;
}

.h1-first-1 {
    font-size: 4.5vw;
    width: 40vw;
    font-family: "Roboto Slab", serif;
    margin-bottom: 1.56vw;
}

.p-first-1 {
    font-size: 1.5vw;
    width: 32vw;
}

.div-first-1 {
    display: flex;
}

.rejissor {
    width: 25vw;
    height: 25vw;
    margin-left: 9vw;

}

.p-first-2 {
    width: 25vw;
    font-size: 1.7vw;
    font-family: "Roboto Slab", serif;
    margin: auto;
}

.p-first-3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.52vw;
}

.div-first-4 {
    background-color: #1E4681;
    width: 35vw;
    height: 16vw;
    padding: 1.7vw;
    /* margin: 0px auto; */
    margin-left: 14vw;
    color: white;
    margin-top: 2vw;
}

.h1-second-1 {
    width: 30vw;
    font-size: 4vw;
    font-family: "Roboto Slab", serif;
    margin-bottom: 2.60vw;
}

.div-second-2 {
    font-size: 1.5vw;
    width: 40vw;

}

.kameraman {
    width: 25vw;
    height: 25vw;
    margin-left: 10vw;
}

.div-second-1 {
    display: flex;
    flex-direction: row;
}

.kameraman2 {
    width: 16vw;
    height: 14vw;
    padding-top: 2.60vw;
}

.div-second-5 {
    display: flex;
    margin-left: 5vw;
    margin-top: 2.60vw;
    gap: 5.9vw;
}

.h2-second-1 {
    font-size: 1.9vw;
}

.p-second-2 {
    width: 13vw;
    height: 2.02vw;
    font-size: 1.6vw;

}

.div-second-3 {
    display: flex;
    align-items: center;
}

@media (min-width: 300px) and (max-width: 600px) {
    .kameraman2 {
        display: none;
    }

    .div-second-5 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }

    .rejissor {
        width: 33vw;
        height: 100vw;
        margin-left: -35vw;


    }

    .kameraman {

        width: 40vw;
        height: 30vw;
    }

    .div-second-1 {
        display: flex;
        flex-direction: column;
    }

    .p-first-1 {
        font-size: 2vw;
        width: 42vw;
    }

    .p-first-2 {
        margin-left: 1vw;
        width: 34vw;
        font-size: 2vw;
        font-family: "Roboto Slab", serif;
        /* margin: auto; */
    }
    .p-first-3{
        font-size: 1.7vw;
    }

    .div-first-4 {
        background-color: #1E4681;
        width: 50vw;
        height: 18vw;
        padding: 2vw;
        
        margin-top: -20vw;
        margin-left: 0vw;
        color: white;

    }

    .h1-first-1 {
        font-size: 9vw;
        width: 79vw;
        font-family: "Roboto Slab", serif;
        margin-bottom: 1.56vw;
    }

    .p-second-2 {
        width: 35vw;
        height: 2.03vw;
        font-size: 1.3vw;
    }

    .h1-second-1 {
        font-size: 6vw;
        font-family: "Roboto Slab", serif;
        margin-bottom: 2.60vw;
    }

    .div-second-2 {
        font-size: 2.5vw;
        width: 80vw;

    }

    .p-second-2 {
        width: 41vw;
        height: 2.03vw;
        font-size: 1.3vw;
    }

    .p-second-2 {
        width: 19vw;
        height: 2.02vw;
        font-size: 2vw;

    }

    .h2-second-1 {
        margin-top: 5vw;
        font-size: 2.3vw;
    }

    .div-second-5 {
        margin-left: 0vw;
        margin-top: 2.60vw;
        column-gap: 10vw;
    }
}

